@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
  padding: 0 2rem;
  margin: 0 2rem;
}

#nescss > .container {
  max-width: 980px;
  margin: 0 auto;
  margin-top: 150px;
}

.main-content{
    padding: 50px;
}

.title{
  font-size: 8px;
}

.messages{
  margin-top: 80px;
}

a.message-element{
  color: red;
}

.me-dasha-logo{
    width: 30%;
}

.footer{
    margin-top: 50px;
}

@media screen and (max-width: 639px) {
  body {
    font-size: 10px!important;
  }
  .title {
    font-size: 12px!important;
  }
  .me-dasha-logo{
    width: 70%;
}
}